{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
	<div class="container">
		<form class="form-signin" method="post" action="{{url_for('auth.login')}}">
			<h2 class="form-signin-heading">Please sign in</h2>
			<label for="email" class="sr-only">Email address</label>
			<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" required>
			<div class="checkbox">
		  		<label>
		    		<input type="checkbox" value="remember-me"> Remember me
		  		</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			
			<a class="btn btn-lg btn-primary btn-block" type="submit" href="{{url_for('auth.register')}}">Register</a>

			<br />
			<a class="btn btn-block btn-social btn-google" href="{{ url_for("auth.oauth_auth", provider="google") }}">
			<span class="fa fa-google"></span> Google OAuth2</a>
			<a class="btn btn-block btn-social btn-facebook" href="{{ url_for("auth.oauth_auth", provider="facebook") }}">
			<span class="fa fa-facebook"></span> Facebook OAuth2</a>
			<a class="btn btn-block btn-social btn-twitter" href="{{ url_for("auth.oauth_auth", provider="github") }}">
			<span class="fa fa-github"></span> Github OAuth2</a>
		</form>
	</div>
{% endblock %}