{% extends "base.html" %}


{% block title %}Editor{% endblock %}

{% block head %}
<style type="text/css" media="screen">
    #editor {
        display: inline;
        height: 725px;
    }

    #folder-sidebar{
        top: 0;
        left: 0;
        display: inline;
        height: 725px;
        border-radius: 0px !important;
    }

    #folder-sidebar i{
        cursor: pointer;
    }

</style>
{% endblock %}

{% block content %}

<nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('home.index')}}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <form id="upload" action="" method="post" enctype="multipart/form-data">
                        <label for="file"> File upload </label>
                        <input style="display:none" type="file" name="file" id="file" /><br/>
                        </form>
                        <script>
                            window.onload = function(){
                                $('#file').change(function(){
                                    $('#upload').submit();
                                });
                                {% if source is not none %}
                                var editor = ace.edit("editor");
                                editor.setValue("{{source}}");
                                {% endif %}
                            }
                        </script>

                    </a>
                </li>


              </ul>
            </li>
          </ul>
 
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

<div class="row">
  <div id="folder-sidebar" class="well col-xs-1.5 pull-left"></div>
    <div id="editor" class="col-xs-10 pull-left"></div>
</div>

<textarea id="current_file_name" style="display:none;"></textarea>
<button type="submit" id="submit_save" class="btn btn-default">Save</button>

<div class="form-group">
    <button type="submit" id="check_syn" class="btn btn-default" form="pml_source_form">Check Syntax</button>

    <div id="pml-output" role="alert" style="display: none; float: left;">
      	<span id="pml-output-glyph" aria-hidden="true"></span>
      	<samp id="pml-output-text"> </samp>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="getNewFileName" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create New File/Directory</h4>
        </div>
        <div class="modal-body">
          <label for="newFileName">Name:</label>
        <input type="text" class="form-control" id="newFileName" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id="createNewFile" class="btn btn-default" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

<!--TODO-->
<script src="{{ url_for('static', filename='ace/build/src/ace.js') }}"></script>
<script src="{{ url_for('static', filename='ace-grammar/build/ace_grammar.min.js') }}"></script>
<script src="{{ url_for('static', filename='ace/build/src/ext-language_tools.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom_ace.js') }}"></script>
<script src="{{ url_for('static', filename='js/submit_pml.js') }}"></script>
<script src="{{ url_for('static', filename='ace/build/src/ace.js') }}"
        type="text/javascript" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/file_management.js') }}"></script>

{% endblock %}