/* elements */

.devs text {
    text-transform: uppercase;
    font-weight: 800;
}

.devs .body {
    fill: #ffffff;
    stroke: #31d0c6;
    stroke-width: 6px;
}

.devs .label {
    fill: #31d0c6;
    font-size: 16px;
}

.devs .port-body {
    stroke: #ffffff;
    stroke-width: 3px;
    fill: #7c68fc;
}

.devs .port-body:hover {
    opacity: 1;
    fill: #ff7e5d;
}

.devs .port-label {
    fill: #7c68fc;
}

.devs.Atomic .body {
    stroke: #feb663;
}

.devs.Atomic .label {
    fill: #feb663;
}

/* links */

.link .connection {
    stroke: #4B4F6A;
    stroke-width: 4px;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #31D0C6;
}
.link .marker-arrowhead:hover {
    fill: #F39C12;    
}

.link-tools .tool-remove circle {
    fill: #fe854f;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke: #fe854f;
    transition: stroke 1s;
}

.devs.highlighted-parent .label {
    fill: #fe854f;
    transition: fill 1s;
    text-decoration: underline;
}

#paper {
    border: 3px solid #DDD;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 50px;
    overflow: scroll;
}

#folder-sidebar{
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    background: #111111;
    overflow-x: auto;
}

#folder-sidebar i{
    cursor: pointer;
}

#folder-sidebar .nav li+.nav-header{margin-top:9px;}
#folder-sidebar .nav-list{padding-left:0px;padding-right:0px;margin-bottom:0;}
#folder-sidebar .nav-list a{padding-left:0px;padding-right:0px;margin-bottom:0;}
#folder-sidebar label{
  display: inline-block;
}
#folder-sidebar label~i{
  display: inline-block;
  margin-left: 5px;
}
#folder-sidebar a{
  display: inline-block; 
  margin-left: 15px;
  text-indent: 5px;
  min-width: 80%;
}
.delete_icon{
  display: inline-block;
  visibility: hidden;
}
#folder-sidebar li:hover > .delete_icon{
  visibility: visible;
} 