{% extends "base.html" %}

{% block head %}
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        bottom: 0;
	right: 0;
	top: 50px;
    }
    #pml_source{
        display: none;
    }

#folder-sidebar{
  position: absolute;
        top: 50px;
        left: 0;
  bottom: 0;
  background: #111111;
  overflow-x: auto;
    }

    #folder-sidebar i{
        cursor: pointer;
    }

    #folder-sidebar .nav li+.nav-header{margin-top:9px;}
    #folder-sidebar .nav-list{padding-left:0px;padding-right:0px;margin-bottom:0;}
    #folder-sidebar .nav-list a{padding-left:0px;padding-right:0px;margin-bottom:0;}
    #folder-sidebar label{
      display: inline-block;
    }
    #folder-sidebar label~i{
      display: inline-block;
      margin-left: 5px;
    }
    #folder-sidebar a{
      display: inline-block;
      margin-left: 15px;
      text-indent: 5px;
      min-width: 80%;
    }
    .delete_icon{
      display: inline-block;
      visibility: hidden;
    }
    #folder-sidebar li:hover > .delete_icon{
      visibility: visible;
    }
    #syn_out_text{
      min-width: 500px
    }

    #syn_out_text li:hover{
      text-decoration: underline;
      cursor: pointer;
    }


    .inner-addon {
    position: relative;
}

/* style icon */
.inner-addon p {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon p  { left:  0px;}
.right-addon p { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/joint.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphical_editor.css') }}">

{% endblock %}

{% block content %}

    <nav id="nav-bar" class="navbar navbar-default" style="margin-bottom:0px;border:0px">
      <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav1">
          <ul class="nav navbar-nav">
            <li><a href="{{url_for('home.index')}}">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File<span class="caret"></span></a>
              <ul class="dropdown-menu">
              <li>
                <a href="#" id="dropdown_new_file"><label>New File</label></a>
              </li>
              <li>
                <a href="#" id="submit_graphical_save"><label>Save</label></a>
              </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">View<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a href="{{url_for('home.index')}}">
                      <label> Text Editor </label>
                  </a>
                </li>
              </ul>
            </li>

             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Insert<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>
                  <a onclick="insert('action')">
                      <label> Action </label>
                  </a>
                  <a onclick="insert('branch')">
                      <label> Branch </label>
                  </a>
                  <a onclick="insert('sequence')">
                      <label> Sequence </label>
                  </a>
                  <a onclick="insert('iteration')">
                      <label> Iteration </label>
                  </a>
                  <a onclick="insert('selection')">
                      <label> Selection </label>
                  </a>
                </li>
              </ul>
            </li>
            <!-- <li>
              <a onclick="getOutput()" role="button" aria-haspopup="true" aria-expanded="false">GetOutput</a>
            </li> -->

          </ul>

          <ul class="nav navbar-nav navbar-right">

            <li id="btn_help">
                <a href="#"
                data-toggle="popover"
                data-html="true"
                data-placement="bottom"
                data-content="
                    <div style='max-height:60vh;overflow-y:auto;'>
                    <div><b>Inserting elements:</b> Elements can be inserted using the 'Insert' menu.</div><br>
                    <div><b>Removing elements:</b> Elements can be removed by right clicking on the element and clicking 'delete'. This will also remove all of the elements children.</div><br>
                    <div><b>Arranging elements:</b> Click and drag elements to arrange them. Drag an element into a container element to nest it.</div><br>
                    <div><b>Adding properties:</b> Additional element properties can be set by right-clicking on the element.</div><br>
                    <div><b>Zooming:</b> Zoom in and out to see less or more of the canvas by scrolling up or down over the canvas.</div><br>
                    <div><b>Moving around:</b> Move around the canvas by clicking and dragging some empty space.</div>
                    </div>"
                title="Graphical editor help">Help</a>
            </li>

            {% if current_user.is_authenticated %}
		            <li><a>{{name}}</a></li>
                <li><a href="{{url_for('auth.logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{url_for('auth.login')}}">Login</a></li>
            {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

{% endblock %}
{% block javascript %}
  <script src="{{ url_for('static', filename='ace/build/src/ace.js') }}"></script>
  <script src="{{ url_for('static', filename='ace/build/src/ext-language_tools.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/underscore.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/backbone.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/lodash.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/libraries/joint.js') }}"></script>
  <script src="{{ url_for('static', filename='js/file_management.js') }}"></script>
  <script src="{{ url_for('static', filename='js/graphical_editor.js') }}"></script>
  <script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            container: 'body'
        });
    });
  </script>
{% endblock %}
